.conteudo-geral img {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-geral h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: Poppins, sans-serif;
}

.conteudo-geral {
    display: flex;
    padding: 30px 4%;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.conteudo-geral .conteudo {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px var(--logo), inset 0 0 1px var(--logo);
}

