* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Roboto Slab", serif;
}

a {
    border: none;
    background-color: none;
    color: inherit;
    cursor: pointer;
}